<div class="flex justify-center">
            <div class="container mx-auto px-4">
                <ul class="flex space-x-6 whitespace-nowrap text-sm font-medium overflow-x-auto scrollbar-hide justify-center">
                    <li>
                        <a href="#" class="inline-block py-3 border-b-2 border-black text-black">
                            For you
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           class="inline-block py-3 text-gray-600 hover:text-black hover:border-b-2 hover:border-black transition">
                            Following
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           class="inline-block py-3 text-gray-600 hover:text-black hover:border-b-2 hover:border-black transition">
                            Featured
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           class="inline-block py-3 text-gray-600 hover:text-black hover:border-b-2 hover:border-black transition">
                            Data Engineering
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           class="inline-block py-3 text-gray-600 hover:text-black hover:border-b-2 hover:border-black transition">
                            Notion Template
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           class="inline-block py-3 text-gray-600 hover:text-black hover:border-b-2 hover:border-black transition">
                            Notion
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           class="inline-block py-3 text-gray-600 hover:text-black hover:border-b-2 hover:border-black transition">
                            More →
                        </a>
                    </li>
                </ul>
            </div>
        </div>